.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 1rem;
  width: 100%;

  color: var(--clr-text-primary);

  background-color: var(--clr-bg-header);
}

.header__title {
  font-size: var(--fs-2xl);
}

.header__user-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
  padding: 1rem 0;
}

.header__user-data p {
  font-size: var(--fs-xs);
}

.header__currency-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: var(--fs-lg);
  font-weight: 700;
}

.header__currency-container span:first-child {
  font-size: var(--fs-sm);
}

@media (width > 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;

    padding: 0 2rem;
  }

  .header__title {
    font-size: var(--fs-3xl);
  }

  .header__user-data {
    align-items: flex-end;
    justify-content: flex-end;

    width: auto;
  }

  .header__currency-container {
    align-items: flex-end;
  }
}
