/* 
background-color: rgba(255, 0, 191, 0.549);
outline: 3px solid rgb(255, 0, 0); 
*/

input:not(:placeholder-shown):valid {
  outline: 2px solid var(--clr-border-success);
}

input:not(:placeholder-shown):invalid {
  outline: 2px solid var(--clr-border-error);
}

input:focus:invalid {
  outline: 2px solid var(--clr-border-warning);
}

select:invalid {
  outline: 2px solid var(--clr-border-error);
}

select:focus:invalid {
  outline: 2px solid var(--clr-border-warning);
}

.App {
  text-align: initial;
}

.error-message {
  color: var(--clr-alert);
  font-size: var(--fs-xxs);
}

.btn {
  border-radius: 0.5rem;
  border-style: none;

  max-width: 13rem;
  padding: 0.7rem 1rem;

  color: var(--clr-text-button);
  font-size: var(--fs-sm);
  font-weight: var(--fw-semi-bold);

  background-color: var(--clr-bg-button);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-highlight);
}

.btn:disabled {
  background-color: var(--clr-bg-disable);
  cursor: not-allowed;
}

.wallet__container {
  width: 100%;
}
